---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/sms-inbounds/6vywj2lpml7oqzd1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-20T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6vywj2lpml7oqzd1","name":"Javi","filter":null,"forward_url":"https:\/\/webhook.site\/a077fc56-ab3c-4f0a-89a3-d6dbdc3b4ce4","enabled":true,"secret":"kHUWLzdWQamGzOpEdKTLqs4Qftw1Uaf","created_at":"2024-03-04T10:57:48.000000Z","sms_number":{"id":"0p7kx4xd7el9yjre","telephone_number":"+18321569450","paused":false,"created_at":"2024-02-19T14:52:31.000000Z"}}}'
  recorded_at: Thu, 19 Dec 2024 22:49:04 GMT
recorded_with: VCR 6.1.0
