---
http_interactions:
- request:
    method: post
    uri: https://api.mailersend.com/v1/sms-inbounds
    body:
      encoding: UTF-8
      string: '{"sms_number_id":"0p7kx4xd7el9yjre","forward_url":"https://mailersend.com","name":"my-inbound-route","events":["sms.sent","sms.delivered"]}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-20T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0p7kx4xw0eg9yjre","name":"my-inbound-route","filter":null,"forward_url":"https:\/\/mailersend.com","enabled":true,"secret":"gttmDBRsg1t5O4jmQOvam9xMOjkRBNOV","created_at":"2024-12-19T22:52:53.000000Z"}}'
  recorded_at: Thu, 19 Dec 2024 22:52:53 GMT
recorded_with: VCR 6.1.0
