---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/whatsapp/recipients?limit=25&page=1&status=active
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"67f91abe2202f37055402301","phone_number":"48600000001","username":null,"bsuid":"US.13491208655302741918","status":"active","created_at":"2026-08-31T07:24:20.000000Z"},{"id":"67f91a0c2202f370554022f4","phone_number":"48600000002","username":null,"bsuid":null,"status":"invalid","created_at":"2026-08-30T15:02:11.000000Z"}],"links":{"first":"https://api.mailersend.com/v1/whatsapp/recipients?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"from":1,"path":"https://api.mailersend.com/v1/whatsapp/recipients","per_page":25,"to":2}}'
  recorded_at: Thu, 01 Oct 2026 08:00:00 GMT
recorded_with: VCR 6.3.1
