---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/whatsapp/recipients/67f91abe2202f37055402301
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"67f91abe2202f37055402301","phone_number":"48600000001","username":null,"bsuid":"US.13491208655302741918","status":"active","created_at":"2026-08-31T07:24:20.000000Z","messages":[{"id":"67f91abe2202f3705540234a","whatsapp_message_id":"67f91abd69f79df391e9d78d","status":"read","template_name":"Order confirmation","error_code":null,"error_message":null,"created_at":"2026-08-31T07:24:20.000000Z"}]}}'
  recorded_at: Thu, 01 Oct 2026 08:00:00 GMT
recorded_with: VCR 6.3.1
