---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/message-schedules
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-21T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":[],"links":{"first":"https:\/\/api.mailersend.com\/v1\/message-schedules?page=1","last":"https:\/\/api.mailersend.com\/v1\/message-schedules?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":null,"last_page":1,"links":[{"url":null,"label":"&laquo;
        Previous","active":false},{"url":"https:\/\/api.mailersend.com\/v1\/message-schedules?page=1","label":"1","active":true},{"url":null,"label":"Next
        &raquo;","active":false}],"path":"https:\/\/api.mailersend.com\/v1\/message-schedules","per_page":25,"to":null,"total":0}}'
  recorded_at: Fri, 20 Dec 2024 00:08:56 GMT
recorded_with: VCR 6.1.0
