---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/message-schedules/6764a963c5b6195e097987ca
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"6764a963c5b6195e097987ca","status":"scheduled","send_at":"2024-12-25T00:00:00Z","created_at":"2024-12-19T00:00:00Z"}}'
  recorded_at: Fri, 20 Dec 2024 00:17:00 GMT
recorded_with: VCR 6.1.0