---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/sms-numbers/0p7kx4xd7el9yjre
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0p7kx4xd7el9yjre","telephone_number":"+18553300000","paused":false,"created_at":"2024-02-19T14:52:31.000000Z"}}'
  recorded_at: Tue, 17 Dec 2024 23:15:43 GMT
recorded_with: VCR 6.1.0
