---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/dmarc-monitoring
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"example_monitor_id","dmarc_record":"v=DMARC1; p=none;","wanted_dmarc_record":"v=DMARC1;
        p=reject;","dmarc_record_valid":false,"spf_record":"v=spf1 include:spf.example.com ~all","spf_record_valid":true,"domain":{"id":"example_domain_id","name":"example.com"},"created_at":"2024-01-01T00:00:00.000000Z","updated_at":"2024-01-01T00:00:00.000000Z"}]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
recorded_with: VCR 6.3.1
