---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/dmarc-monitoring/example_monitor_id/report-sources
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"google.com","report_count":12},{"name":"yahoo.com","report_count":5}]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
recorded_with: VCR 6.3.1
