---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/dmarc-monitoring/example_monitor_id/report
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"ip":"1.2.3.4","dmarc_pass_rate":95,"spf_pass_rate":98,"dkim_pass_rate":97,"message_count":1000,"is_favorite":false,"country":"US"}]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
recorded_with: VCR 6.3.1
