---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/dmarc-monitoring/example_monitor_id/report/1.2.3.4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"source_name":"google.com","message_count":500,"dmarc_pass":490,"spf_pass":495,"dkim_pass":492,"policy_applied":"none","disposition":"none","date":"2024-01-01"}]}'
  recorded_at: Mon, 01 Jan 2024 00:00:00 GMT
recorded_with: VCR 6.3.1
