---
http_interactions:
- request:
    method: post
    uri: https://api.mailersend.com/v1/token
    body:
      encoding: UTF-8
      string: '{"name":"Test Token","scopes":["email_full"],"domain_id":"example_domain_id"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1dd8e323b92f9953069f9647ca5929a3575e2f972d85734b27de16cd06360256054a070b783c272","accessToken":"#####","name":"Test
        Token","created_at":"2024-12-17T02:36:31.000000Z","scopes":["email_full"],"has_full":false,"domain":null}}'
  recorded_at: Tue, 17 Dec 2024 02:36:31 GMT
recorded_with: VCR 6.3.1
