---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/inbound/pr9084zw584w63dn
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pr9084zw584w63dn","name":"etyrty","address":"g9lz3bsjlnqde2vhvheh@inbound.mailersend.net","domain":null,"dns_checked_at":null,"enabled":true,"filters":[{"type":"match_all","key":null,"comparer":null,"value":null}],"forwards":[{"type":"email","value":"roc@mailerlite.com","secret":null}],"priority":0,"mxValues":{"priority":"10","target":"inbound.mailersend.net"},"catch_type":"all","match_type":"all"}}'
  recorded_at: Tue, 17 Dec 2024 11:49:37 GMT
recorded_with: VCR 6.3.1
