---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/domains/3yxj6lj1r05ldo2r/recipients
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":[],"links":{"first":"https:\/\/api.mailersend.com\/v1\/domains\/3yxj6lj1r05ldo2r\/recipients?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"from":null,"path":"https:\/\/api.mailersend.com\/v1\/domains\/3yxj6lj1r05ldo2r\/recipients","per_page":25,"to":null}}'
  recorded_at: Tue, 17 Dec 2024 01:59:16 GMT
recorded_with: VCR 6.3.1
