---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/domains/jpzkmgq7e5vl059v/verify
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"message":"The domain is verified.","data":{"dkim":false,"spf":false,"mx":false,"tracking":false,"cname":false,"rp_cname":false}}'
  recorded_at: Tue, 17 Dec 2024 02:03:28 GMT
recorded_with: VCR 6.3.1
