---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/domains/z3m5jgrdk7z4dpyo
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"z3m5jgrdk7z4dpyo","name":"somethingelse.com","dkim":false,"spf":false,"tracking":false,"is_verified":false,"is_cname_verified":false,"is_dns_active":false,"is_cname_active":false,"is_tracking_allowed":false,"domain_stats":{"total":0,"queued":0,"sent":0,"rejected":0,"delivered":0},"not_queued_messages_count":0,"domain_settings":{"send_paused":false,"track_clicks":true,"track_opens":true,"track_unsubscribe":false,"track_unsubscribe_html":"<p>Click
        here to <a href=\"{$unsubscribe}\">unsubscribe<\/a><\/p>","track_unsubscribe_html_enabled":false,"track_unsubscribe_plain":"Click
        here to unsubscribe: {$unsubscribe}","track_unsubscribe_plain_enabled":false,"track_content":false,"custom_tracking_enabled":false,"custom_tracking_subdomain":"email","return_path_subdomain":"mta","inbound_routing_enabled":false,"inbound_routing_subdomain":"inbound","precedence_bulk":false,"ignore_duplicated_recipients":false},"created_at":"2023-07-04T06:57:06.000000Z","updated_at":"2023-07-04T06:57:08.000000Z","totals":{"sent":0,"delivered":0,"hard_bounced":0,"soft_bounced":0}}}'
  recorded_at: Tue, 17 Dec 2024 01:41:44 GMT
recorded_with: VCR 6.3.1
