---
http_interactions:
- request:
    method: post
    uri: https://api.mailersend.com/v1/domains
    body:
      encoding: UTF-8
      string: '{"name":"ourdomain.com"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"zkq340ezdqkgd796","name":"ourdomain.com","dkim":null,"spf":null,"mx":null,"tracking":null,"is_verified":false,"is_dns_active":false,"is_trial_domain":false,"domain_settings":{"send_paused":false,"track_clicks":true,"track_opens":true,"track_unsubscribe":false,"track_unsubscribe_html":"<p>Click
        here to <a href=\"{$unsubscribe}\">unsubscribe<\/a><\/p>","track_unsubscribe_html_enabled":false,"track_unsubscribe_plain":"Click
        here to unsubscribe: {$unsubscribe}","track_unsubscribe_plain_enabled":false,"track_content":false,"custom_tracking_enabled":false,"custom_tracking_subdomain":"email","return_path_subdomain":"mta","inbound_routing_enabled":false,"inbound_routing_subdomain":"inbound","precedence_bulk":false,"ignore_duplicated_recipients":false},"can":{"manage":true},"totals":[],"is_dkim_txt":null,"show_dkim_info":true,"is_being_verified":false}}'
  recorded_at: Tue, 17 Dec 2024 01:53:24 GMT
recorded_with: VCR 6.3.1
