---
http_interactions:
- request:
    method: post
    uri: https://api.mailersend.com/v1/bulk-email
    body:
      encoding: UTF-8
      string: '[{"from":"sender@test-sdk.com","to":["test@mailerlite.com"],"subject":"Test
        Bulk Email","text":"This is a test bulk email."}]'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"message":"The bulk email is being processed.","bulk_email_id":"67618140bf85c862710f2c5a"}'
  recorded_at: Tue, 17 Dec 2024 13:48:48 GMT
recorded_with: VCR 6.3.1
