---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/api-quota
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"quota":-1,"remaining":-1,"reset":"2024-12-18T00:00:00Z"}'
  recorded_at: Tue, 17 Dec 2024 02:21:15 GMT
recorded_with: VCR 6.3.1
