---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/templates?domain_id=zkq340ezdqkgd796&limit=10&page=1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":[],"links":{"first":"https:\/\/api.mailersend.com\/v1\/templates?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"from":null,"path":"https:\/\/api.mailersend.com\/v1\/templates","per_page":10,"to":null}}'
  recorded_at: Tue, 17 Dec 2024 22:37:09 GMT
recorded_with: VCR 6.1.0
