---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/recipients/663cd8f984e4628b80b976a3
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"663cd8f984e4628b80b976a3","email":"39af28b9-edc8-4fd3-b4cb-9a7b49326d28@emailhook.site","created_at":"2024-05-09T14:08:57.000000Z","updated_at":"2024-05-09T14:08:57.000000Z","deleted_at":"","emails":[],"domain":{"id":"jpzkmgq7e5vl059v","name":"test-sdk.com","created_at":"2022-04-20T11:36:15.000000Z","updated_at":"2024-09-02T10:02:27.000000Z"}}}'
  recorded_at: Tue, 17 Dec 2024 10:57:00 GMT
recorded_with: VCR 6.3.1
