---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/recipients?limit=10&page=1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"663cd8f984e4628b80b976a3","email":"39af28b9-edc8-4fd3-b4cb-9a7b49326d28@emailhook.site","created_at":"2024-05-09T14:08:57.000000Z","updated_at":"2024-05-09T14:08:57.000000Z","deleted_at":""},{"id":"6734f6d786a360f6c61e7dc3","email":"79e819c7-130f-46b2-8102-503cb27778af@emailhook.site","created_at":"2024-11-13T18:58:31.000000Z","updated_at":"2024-11-13T18:58:31.000000Z","deleted_at":""},{"id":"63189f366eea0254cd053519","email":"bcc@test-sdk.com","created_at":"2022-09-07T13:40:07.000000Z","updated_at":"2022-09-07T13:40:07.000000Z","deleted_at":""},{"id":"66ab7ddbdb1567cdd428632d","email":"bcc@test-sdk.com","created_at":"2024-08-01T12:21:47.000000Z","updated_at":"2024-08-01T12:21:4[...]
