---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/webhooks/3vz9dlej514kj50y
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"3vz9dlej514kj50y","url":"https:\/\/test23.com","events":["activity.sent"],"name":"webhook","enabled":true,"editable":true,"secret":"nCbLSmKF9CrSZx2zqPqsH8p72zU2QAh7","created_at":"2024-12-17T22:54:21.000000Z","updated_at":"2024-12-17T22:54:21.000000Z","domain":{"id":"jpzkmgq7e5vl059v","name":"test-sdk.com","dkim":false,"spf":false,"tracking":false,"is_verified":true,"is_cname_verified":false,"is_dns_active":false,"is_cname_active":false,"is_tracking_allowed":false,"has_not_queued_messages":false,"not_queued_messages_count":0,"domain_settings":{"send_paused":false,"track_clicks":true,"track_opens":true,"track_unsubscribe":false,"track_unsubscribe_html":"<p>Click
        here to <a href=\"{{unsubscribe}}\">unsubscribe<\/a><\/p>","track_unsubscribe_html_enabled":false,"track_unsubscribe_plain":"Click
        here to unsubscribe: {{unsubscribe}}","track_unsubscribe_plain_enabled":false,"track_content":true,"custom_tracking_enabled":true,"custom_tracking_subdomain":"email","return_path_subdomain":"mta","inbound_routing_enabled":false,"inbound_routing_subdomain":"","precedence_bulk":false,"ignore_duplicated_recipients":false},"created_at":"2022-04-20T11:36:15.000000Z","updated_at":"2024-09-02T10:02:27.000000Z","totals":{"sent":0,"delivered":119,"hard_bounced":0,"soft_bounced":5}}}}'
  recorded_at: Tue, 17 Dec 2024 22:56:17 GMT
recorded_with: VCR 6.1.0
