---
http_interactions:
- request:
    method: put
    uri: https://api.mailersend.com/v1/sms-recipients/627e7503d30078fb2208cc83
    body:
      encoding: UTF-8
      string: '{"status":"active"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"627e7503d30078fb2208cc83","number":"+18332500000","status":"active","opted_out_at":null,"opt_out_source":null,"created_at":"2022-05-13T15:10:59.000000Z"}}'
  recorded_at: Tue, 17 Dec 2024 23:29:19 GMT
recorded_with: VCR 6.1.0
