---
http_interactions:
- request:
    method: post
    uri: https://api.mailersend.com/v1/email
    body:
      encoding: UTF-8
      string: '{"from":{"email":"sender@test-sdk.com","name":"Sender"},"to":[{"email":"test@mailerlite.com","name":"Test"}],"subject":"Test
        Email","text":"This is a test email.","html":"<p>This is a test email.</p>"}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Message-Id:
      - 676184e34aed90153c5efa6f
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-18T00:00:00Z'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 17 Dec 2024 14:04:19 GMT
recorded_with: VCR 6.3.1
