---
http_interactions:
- request:
    method: post
    uri: https://api.mailersend.com/v1/suppressions/unsubscribes
    body:
      encoding: UTF-8
      string: '{"domain_id":"jpzkmgq7e5vl059v","recipients":["test@mailerlite.com"]}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-20T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"676457b1252f59f004ea2bac","reason":null,"readable_reason":null,"recipient":{"id":"676457b08631db34e81673e8","email":"test@mailerlite.com","created_at":"2024-12-19T17:28:16.000000Z","updated_at":"2024-12-19T17:28:17.000000Z","deleted_at":"","domain":{"id":"jpzkmgq7e5vl059v","name":"test-sdk.com","created_at":"2022-04-20T11:36:15.000000Z","updated_at":"2024-09-02T10:02:27.000000Z"}},"created_at":"2024-12-19T17:28:17.000000Z"}]}'
  recorded_at: Thu, 19 Dec 2024 17:28:17 GMT
recorded_with: VCR 6.1.0
