---
http_interactions:
- request:
    method: post
    uri: https://api.mailersend.com/v1/suppressions/blocklist
    body:
      encoding: UTF-8
      string: '{"recipients":["test@mailerlite.com"]}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-20T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6764599b1cc3ea355ad717a0","type":"exact","pattern":"test@mailerlite.com","created_at":"2024-12-19T17:36:27.000000Z","updated_at":"2024-12-19T17:36:27.000000Z"}]}'
  recorded_at: Thu, 19 Dec 2024 17:36:27 GMT
recorded_with: VCR 6.1.0
