---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/suppressions/spam-complaints
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-20T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"676457b1ee359d18093fcb99","created_at":"2024-12-19T17:28:17.000000Z","recipient":{"id":"676457b08631db34e81673e8","email":"test@mailerlite.com","created_at":"2024-12-19T17:28:16.000000Z","updated_at":"2024-12-19T17:28:17.000000Z","deleted_at":"","domain":{"id":"jpzkmgq7e5vl059v","name":"test-sdk.com","created_at":"2022-04-20T11:36:15.000000Z","updated_at":"2024-09-02T10:02:27.000000Z"}}},{"id":"629f8f551701d31cba0cf02f","created_at":"2022-06-07T17:48:06.000000Z","recipient":{"id":"629f8f551424bb29ba0a706e","email":"test@example.com","created_at":"2022-06-07T17:48:05.000000Z","updated_at":"2022-06-07T17:55:49.000000Z","deleted_at":"","domain":{"id":"jpzkmgq7e5vl059v","name":"test-sdk.com","created_at":"2022-04-20T11:36:15.000000Z","updated_at":"2024-09-02T10:02:27.000000Z"}}}],"links":{"first":"https:\/\/api.mailersend.com\/v1\/suppressions\/spam-complaints?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"from":1,"path":"https:\/\/api.mailersend.com\/v1\/suppressions\/spam-complaints","per_page":10,"to":2}}'
  recorded_at: Thu, 19 Dec 2024 17:40:43 GMT
recorded_with: VCR 6.1.0
