---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/suppressions/hard-bounces
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-20T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":[],"links":{"first":"https:\/\/api.mailersend.com\/v1\/suppressions\/hard-bounces?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"from":null,"path":"https:\/\/api.mailersend.com\/v1\/suppressions\/hard-bounces","per_page":10,"to":null}}'
  recorded_at: Thu, 19 Dec 2024 17:40:43 GMT
recorded_with: VCR 6.1.0
