---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/suppressions/blocklist
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-20T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6764599b1cc3ea355ad717a0","type":"exact","pattern":"test@mailerlite.com","domain":null,"created_at":"2024-12-19T17:36:27.000000Z","updated_at":"2024-12-19T17:36:27.000000Z"},{"id":"6761594ff80ab62a9bf0a031","type":"exact","pattern":"39af28b9-edc8-4fd3-b4cb-9a7b49326d28@emailhook.site","domain":{"id":"jpzkmgq7e5vl059v","name":"test-sdk.com","created_at":"2022-04-20T11:36:15.000000Z","updated_at":"2024-09-02T10:02:27.000000Z"},"created_at":"2024-12-17T10:58:23.000000Z","updated_at":"2024-12-17T10:58:23.000000Z"},{"id":"6321a890c51d2696140181ec","type":"pattern","pattern":".*@example.com","domain":{"id":"jpzkmgq7e5vl059v","name":"test-sdk.com","created_at":"2022-04-20T11:36:15.000000Z","updated_at":"2024-09-02T10:02:27.000000Z"},"created_at":"2022-09-14T10:10:24.000000Z","updated_at":"2022-09-14T10:10:24.000000Z"},{"id[...]
