---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/emails?date_from=1756252800&date_to=1756339200&domain_id=jpzkmgq7e5vl059v&limit=10&page=2
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
    body:
      encoding: UTF-8
      string: '{"data":[],"links":{"first":"https://api.mailersend.com/v1/emails?page=1","last":null,"prev":"https://api.mailersend.com/v1/emails?page=1","next":null},"meta":{"current_page":2,"current_page_url":"https://api.mailersend.com/v1/emails?page=2","from":null,"path":"https://api.mailersend.com/v1/emails","per_page":10,"to":null}}'
  recorded_at: Thu, 27 Aug 2026 16:48:42 GMT
recorded_with: VCR 6.3.1
