---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/emails?date_from=1756252800&date_to=1756339200&domain_id=jpzkmgq7e5vl059v&limit=10&page=1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"6a8fa9b1902fab56e0ce50dd","from":"sender@example.com","to":"rcpt@example.org","subject":"Welcome","text":null,"html":null,"template_id":"7nxe3yjmeq28vp0k","domain_id":"7nxe3yjmeq28vp0k","message_id":"6a8fa9b1902fab56e0ce50aa","status":"sent","tags":["newsletter"],"interaction":["opened"],"suppression_reason":null,"created_at":"2026-08-27T16:48:42.000000Z","updated_at":"2026-08-27T16:48:42.000000Z","headers":[{"name":"X-Custom","value":"foo"}]}],"links":{"first":"https://api.mailersend.com/v1/emails?page=1","last":null,"prev":null,"next":null},"meta":{"current_page":1,"current_page_url":"https://api.mailersend.com/v1/emails?page=1","from":1,"path":"https://api.mailersend.com/v1/emails","per_page":10,"to":3}}'
  recorded_at: Thu, 27 Aug 2026 16:48:42 GMT
recorded_with: VCR 6.3.1
