---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/activity/jpzkmgq7e5vl059v?date_from=1734115200&date_to=1734633600&limit=10&page=1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-21T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"676184f57c14148b126fb1a4","created_at":"2024-12-17T14:04:37.000000Z","updated_at":"2024-12-17T14:04:37.000000Z","type":"opened","email":{"id":"67618461e93d11b5cf7cb145","from":"sender@test-sdk.com","subject":"Test
        Email","text":"This is a test email.","html":"<p>This is a test email.<\/p>","template_id":"","status":"delivered","tags":null,"created_at":"2024-12-17T14:02:09.000000Z","updated_at":"2024-12-17T14:04:39.000000Z","headers":null,"recipient":{"id":"6655e19fc7f63cea62ee560e","email":"test@mailerlite.com","created_at":"2024-05-28T13:52:31.000000Z","updated_at":"2024-05-28T13:52:31.000000Z","deleted_at":""}}},{"id":"676184f373db909f7ed68017","created_at":"2024-12-17T14:04:21.000000Z","updated_at":"2024-12-17T14:04:21.000000Z","type":"delivered","email":{"id":"676184e45958d4b8b0874611","from":"sender@test-sdk.com","subject":"Test
        Email","text":"This is a test email.","html":"<p>This is a test email.<\/p>","template_id":"","status":"delivered","tags":null,"created_at":"2024-12-17T14:04:20.000000Z","updated_at":"2024-12-17T14:04:35.000000Z","headers":null,"recipient":{"id":"6655e19fc7f63ce[...]
