---
http_interactions:
- request:
    method: post
    uri: https://api.mailersend.com/v1/sms-webhooks
    body:
      encoding: UTF-8
      string: '{"sms_number_id":"0p7kx4xd7el9yjre","name":"good-webhook","url":"https://mailersend.net/webhook","events":["sms.sent","sms.delivered"]}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-20T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"k68zxl27x34j9057","url":"https:\/\/mailersend.net\/webhook","events":["sms.sent","sms.delivered"],"name":"good-webhook","enabled":true,"created_at":"2024-12-19T22:41:14.000000Z","updated_at":"2024-12-19T22:41:14.000000Z","sms_number":{"id":"0p7kx4xd7el9yjre","telephone_number":"+18553300000","paused":false,"created_at":"2024-02-19T14:52:31.000000Z"}}}'
  recorded_at: Thu, 19 Dec 2024 22:41:14 GMT
recorded_with: VCR 6.1.0
