---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/sms-webhooks/0r83ql3pzvgzw1jm
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiquota-Remaining:
      - "-1"
      X-Apiquota-Reset:
      - '2024-12-20T00:00:00Z'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0r83ql3pzvgzw1jm","url":"https:\/\/mailersend.com","events":["sms.delivered"],"name":"my-webook","enabled":true,"created_at":"2024-12-19T22:35:53.000000Z","updated_at":"2024-12-19T22:35:53.000000Z","sms_number":{"id":"0p7kx4xd7el9yjre","telephone_number":"+18121209150","paused":false,"created_at":"2024-02-19T14:52:31.000000Z"}}}'
  recorded_at: Thu, 19 Dec 2024 22:36:36 GMT
recorded_with: VCR 6.1.0
