---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/whatsapp/inbound-messages/62f114a3165fe0d8db0288d1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"62f114a3165fe0d8db0288d1","whatsapp_account_id":"3enl6x27wmrxrl2v","from":"48600000001","to":"15550001234","type":"interactive","received_at":"2026-10-01T07:18:44.000000Z","list_reply":{"id":"delivery_today","title":"Deliver today","description":"Between 4 PM and 8 PM"},"context":{"message_id":"wamid.HBgLMzcwNjMzMjI3OTcVAgARGBIwREE3N0EwN0EyNjhENjEwOEMA"}}}'
  recorded_at: Thu, 01 Oct 2026 08:00:00 GMT
recorded_with: VCR 6.3.1
