---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/whatsapp/messages?limit=25&page=1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"67f91abd69f79df391e9d78d","from":"15550001234","to":["48600000001","48600000002"],"whatsapp_account_id":"3enl6x27wmrxrl2v","template_id":"23zxk54v6gjy6v7m","created_at":"2026-08-31T07:24:20.000000Z"},{"id":"67f91a0c69f79df391e9d6a1","from":null,"to":["US.13491208655302741918"],"whatsapp_account_id":"8k2m4p6q9r1s3t5v","template_id":"6v7m23zxk54vgjy2","created_at":"2026-08-31T07:21:16.000000Z"}],"links":{"first":"https://api.mailersend.com/v1/whatsapp/messages?page=1","last":"https://api.mailersend.com/v1/whatsapp/messages?page=1","prev":null,"next":null},"meta":{"current_page":1,"from":1,"last_page":1,"path":"https://api.mailersend.com/v1/whatsapp/messages","per_page":25,"to":2,"total":2}}'
  recorded_at: Thu, 01 Oct 2026 08:00:00 GMT
recorded_with: VCR 6.3.1
