---
http_interactions:
- request:
    method: get
    uri: https://api.mailersend.com/v1/whatsapp/messages/67f91abd69f79df391e9d78d
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"67f91abd69f79df391e9d78d","from":"15550001234","to":["48600000001","48600000002"],"whatsapp_account_id":"3enl6x27wmrxrl2v","template_id":"23zxk54v6gjy6v7m","created_at":"2026-08-31T07:24:20.000000Z","recipients":[{"id":"67f91abe2202f3705540234a","to":"48600000001","status":"read","error_code":null,"error_message":null,"activity":[{"status":"queued","created_at":"2026-08-31T07:24:20.000000Z"},{"status":"sent","created_at":"2026-08-31T07:24:21.000000Z"},{"status":"delivered","created_at":"2026-08-31T07:24:23.000000Z"},{"status":"read","created_at":"2026-08-31T07:31:02.000000Z"}]},{"id":"67f91abe2202f3705540234b","to":"48600000002","status":"failed","error_code":131026,"error_message":"Message undeliverable","activity":[{"status":"queued","created_at":"2026-08-31T07:24:20.000000Z"},{"status":"failed","created_at":"2026-08-31T07:24:22.000000Z"}]}]}}'
  recorded_at: Thu, 01 Oct 2026 08:00:00 GMT
recorded_with: VCR 6.3.1
