---
http_interactions:
- request:
    method: post
    uri: https://api.mailersend.com/v1/whatsapp/send
    body:
      encoding: UTF-8
      string: '{"from":"15550001234","to":["+48600000001"],"template_id":"23zxk54v6gjy6v7m","personalization":[{"to":"+48600000001","data":{"header":["Order #12345"],"body":["John","December 31, 2026"],"buttons":["orders/12345"]}}]}'
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json
      X-Message-Id:
      - 67f91abd69f79df391e9d78d
    body:
      encoding: UTF-8
      string: '{"data":{"id":"67f91abd69f79df391e9d78d","created_at":"2026-08-31 07:24:20"}}'
  recorded_at: Mon, 31 Aug 2026 07:24:20 GMT
recorded_with: VCR 6.3.1
